:root {
    --jag-dark: #333333;
    --jag-accent: #ff6600;
    --jag-light:#e6e6e6;
    --jag-medium:#777777;
}

/* -- Body backgourd. -- */
body {
    background-color:var(--jag-light);
    background-image: url("../images/jag-kaa-tiledbg.png");
    background-size: 85px;
}

/* -- Seccion Usuarios. -- */
main {
    background-color: var(--jag-dark);
    border-radius: 1rem;
}

#loginImg {
    width: 80%;
    max-width: 350px;
}

/* Forms Usuarios */
.jag-text-form {
    width: 80%;
    height: 2.5rem;
    margin-bottom: 10px;
    border-radius: 8px;
    color: var(--jag-dark);
}

.form-usuarios > span {
    text-decoration: none;
    color: var(--jag-light);
}

.link-atras,
.form-usuarios > a {
    text-decoration: none;
    color: var(--jag-accent);
}

.link-atras:hover,
.form-usuarios > a:hover {
    color: #ff8533;
}

.form-usuarios > .btn {
    background-color: var(--jag-accent);
    color: var(--jag-dark);    
}