{% extends 'tienda/layout_general.html' %}

{% comment %}
Sitio para redireccionar en caso de errores de base de datos o lo que sea.
{% endcomment %}

{% block private-body %}
<div class="container h-75 d-flex flex-column align-items-center justify-content-center">
    <hr>
    <h1 class="nova-dark">
            ERROR 404
    </h1>

    {% if mensaje %}
    <hr>
    <div class="alert alert-dark col-9 text-center">
        {{mensaje|upper}}
    </div>
    {% endif %}
</div>

{% endblock %}
