{% extends "tienda/layout_general.html" %}
{% block private-body %}
{% load static %}
    <div class="container">
    
        <h1 class="py-4 text-center nova-dark">Jaguareté KAA</h1>
    
        {% comment %}
        Acá agrego la info de la empresa. Para hacer algo de diseño variable, 
        voy a hacer que en dispositivos grandes se muestre una imagen en un lateral, 
        mientras que en dispositivos chicos solo muestre la info.
        {% endcomment %}

        <div class="row g-5">
            <div class="col-lg-6 text-center text-lg-end">
                <h4 class="pb-2">¿Quienes somos?</h2>
                <p class ="pb-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet esse autem harum beatae architecto illo porro natus
                    eius excepturi dignissimos quam modi ipsa impedit voluptas, aliquid temporibus consequuntur cumque dolores distinctio
                    neque maxime itaque, alias sit maiores. Quibusdam error natus dicta debitis delectus ducimus maxime vitae eos, quam a
                    sequi.
                </p>
            
            
                <h4 class="pb-2">Nuestros Productos</h2>
                <p class ="pb-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quis nulla quam sint facere fugiat dignissimos ratione sit enim, tenetur optio culpa cupiditate, odit, consequatur quos amet quidem deserunt quaerat nobis officia. Rerum quo perspiciatis eius numquam magnam placeat voluptate harum voluptatibus, pariatur officiis consequuntur, assumenda totam veniam! Quaerat, corporis.
                </p>
            </div>

            <div id="aboutimg" class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center">
                <img src="{% static 'images/jag-kaa-about.png' %}" class="img-fluid" style="width: 80%;">
            </div>
        </div>
    </div>

{% endblock %}
