{% extends "tienda/layout_general.html" %}
{% block private-body %}

<div id="CarroMain" class="container">
    <h1 class="py-3 nova-dark">Tu Carro</h1>

    {% comment %}
    Acá estaría la pantalla de carro, en principio pienso en dos mitades en pantallas
    grandes y todo vertical en pantallas pequeñas. El primer div tendría el listado de 
    productos, y sus manejos, mientras que el segundo div tendrá los controles 
    para finalizar la compra.
    {% endcomment %}
    
    <div class="row g-3">
        <div id="CarroProductos" class="col-md-7">
            <h4 class="nova-dark">Productos en el Carro</h4>
            
            {% for prod in carro.listaProductos %}
            <div class="CarroItem my-2 d-flex"> 
                <div class=""> 
                    <a class="carro-prod d-block" href="{% url 'tienda:producto' prod.id %}">{{prod.nombre}}</a>
                    <span class="carro-precio" >{{prod.precioLocal}}</span> 
                </div>
                <a class="btn btn-sm btn-danger mb-auto ms-auto me-md-3" href="{% url 'tienda:sacar' prod.id %}">Eliminar</a>
            </div>
            {% empty %}
            <div class="my-4"> No hay productos en el carro</div>
            {% endfor %}

            {% if carro.listaProductos %}
            <a href="{% url 'tienda:vaciar' %}" class="btn boton-dark mt-3">Vaciar carro</a>
            {% endif %}
        </div>
        
        {% if carro.listaProductos %}
        <div id="CarroControles" class="col-md-5 text-center mb-3">

            <span class="d-block mt-4 mb-2">¿Tenés un cupón?</span>
            
            <input class="form-control jag-txt-form mx-auto" type="text" maxlength="8" name="cupon" id="cupon">
                        
            <hr class="mx-auto" style="width: 66%;">

            <h5 class="">Total del carro</h5>
            <h5 class="mb-4">{{ carro.totalLocal }}</h5>
            
            <input type="button" class="btn boton-accent mb-4" value="Finalizar Compra">
            {% endif %}
        </div>
    </div> <!-- end of row -->
</div>
{% endblock %}