{% extends 'tienda/layout_general.html' %}
{% block private-body %}

{% comment %}
Esta pantalla sería muy similar a la de "Producto", pero todos los
campos donde antes tenia información ahora llevan forms para modificar
los valores. Tambien puede servir de pantalla de agregar nuevo producto, 
dependiendo de si se pasa o no un producto por contexto.
{% endcomment %}

{# Modal para confirmar eliminar producto. #}
<!-- Modal para eliminar productos -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-light">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar el producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn boton-dark" data-bs-dismiss="modal">Volver</button>
                
                {% comment %}
                Implemento la eliminación de productos con un form con campos ocultos, 
                para asegurarme que solo se pueda llegar a dicha accion mediante un 
                request POST.                
                {% endcomment %}
                <form action="{% url 'tienda:eliminar' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="prodId" value="{{prodId}}">
                    <input type="submit" class="btn btn-danger" value="Eliminar">
                </form>
            </div>
        </div>
    </div>
</div>


<form enctype="multipart/form-data" action="{% url 'tienda:nuevo' %}" method="post">
    {% csrf_token %}
    <div id="ProductoMain" class="row">
        <div class="text-center my-4">
            {{ form.nombre }}
            <div class="my-2 text-danger text-start fw-bold">
                {{ form.nombre.errors }}
            </div>
        </div>
        
        <div class="col-12 col-sm-5 mb-5">
            <h5 class="my-3">Imagen de Producto:</h5>
            {{ form.imagen }}
            <div class="my-2 text-danger text-start fw-bold">
                {{ form.imagen.errors }}
            </div>    
        
        </div>
        <div id="ProductColumn" class="col-12 col-sm-7 d-flex flex-column mb-5">
            <hr class="dropdown-divider mt-0">
            {{ form.categoria }}
            {{ form.nueva_cat }}

            <div class="my-2 text-danger text-start fw-bold">
                {{ form.categoria.errors }}
            </div>
            
            <hr class="dropdown-divider">
            
            <div class="flex-fill">
                {{ form.descr }}
                <div class="my-2 text-danger text-start fw-bold">
                    {{ form.descr.errors }}
                </div>
            </div>
            <hr class="dropdown-divider mb-2">

            <div class="mx-auto my-2">
                {{ form.precio }}
                <div class="my-2 text-danger text-start fw-bold">
                    {{ form.precio.errors }}
                </div>
            </div>

            <div id="editControls" class="container d-flex justify-content-around mt-2">
                <input type="hidden" name="prodId" value="{{prodId}}">

                {# Si prodId es None, estoy en la página de "Agregar producto" #}
                {% if not prodId %}
                <input type="submit" value="Agregar Producto" class="btn boton-accent flex-fill mx-3">
                <a href="{% url 'tienda:home' %}" class="btn boton-dark">Volver</a>
                
                {% else %}
                <input type="submit" value="Guardar" class="btn boton-accent flex-fill mx-3">
                
                <!-- Boton para elimnar, dispara un modal. -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal">
                    Eliminar
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
