{% extends "tienda/layout_general.html" %}

{% block private-body %}

{% comment %}
Acá deberían mostrarse los últimos 10 productos, donde los primeros 3 se presenten
en un formato estilo "card", con titulo, imagen y boton al producto. Los restantes 7
pueden presentarse en una lista de links.
{% endcomment %}

{% if not productos %}

<h1 class="nova-dark">No hay productos</h1>
<h3 class="nova-dark">Vuelva prontos...</h3>

{% else %}

<h1 class="pt-5 pb-3 nova-dark">ÚLTIMOS PRODUCTOS</h1>

<div class="container">
    
    {% comment %}
    En este div #productCards contiene los ultimos 3 elementos como 
    cards de Bootstrap.    
    {% endcomment %}

    <div id="productCards" class="row g-3">
        {% for prod in productos|slice:"0:3" %}
            <div class="col-6 col-md-5 col-lg-4 mb-2 mx-auto" style="min-width: 250px;"> 
                <div class="card h-100" >
                    <img src="{{ prod.imagen.url }}" class="card-img-top " alt="">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{prod.nombre}}</h5>
                        <div class="cardControls mt-auto">
                            <p class="card-text d-flex">{{prod.precioLocal}}</p>
                            <a href="{% url 'tienda:producto' prod.id %}" class="btn boton-accent">Ver</a>
                            

                            {# Este boton no tiene sentido si el usuario es moderador. #}
                            {% if not moderador %}
                                {% if prod in carro.listaProductos %}
                                    <a href="{% url 'tienda:carro' %}" class="btn boton-accent">Ir al Carro</a>
                                {% else %}
                                    <a href="{% url 'tienda:agregarAlCarro' prodId=prod.id next=request.path|urlencode %}" class="btn boton-accent">Agregar al Carro</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <h6 class="card-footer">{{prod.categoria}}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h1 class="pt-5 pb-3 nova-dark">MÁS PRODUCTOS</h1>

<div class="container">

    {% comment %}
    Este otro div #productList va a contener los 7 productos restantes
    de la lista como links. Uso la stretched-link de bootstrap para
    que todo el div del elemento se considere como el link.
    {% endcomment %}
    
    <div id="productList" class="col-12">
        {% for prod in productos|slice:"3:10" %}
        <div class="productListItem position-relative">
            <h5>{{ prod.nombre.upper}}<span class="d-none d-sm-inline"> - {{prod.precioLocal}}</span></h1>
                <p class="d-block d-sm-none">{{ prod.precioLocal }}</p>
                <p class="d-none d-sm-block">{{ prod.descripcionCorta }}</p>
                <a href="{% url 'tienda:producto' prod.id %}" class="stretched-link"></a>
            <hr class="dropdown-divider">
        </div>
        {% endfor %}
    </div>

</div>

{% endif %}

{% endblock %}