{% comment %}
    Este archivo contiene el layout general que compariran todas las pantallas.
    Espero poder definir acá toda la estructura general que requiere el 
    proyecto y dejar en manos de las templates individuales los cambios en el 
    contenido principal.
{% endcomment %}
{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {# Linkeo bootstrap. #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
        {# Linkeo a mi hoja de estilo. #}
        <link rel="stylesheet" href="{% static 'styles/jagkaa.css' %}">
        
        {# Linkeo a fuente de Google Fonts para Encabezados principales. #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Square">

        {# Favicon, ya que arme un icono pequeño lo agrego acá #}
        <link rel="icon" type="image/svg+xml" href="{% static 'images/jag-kaa-logo-sm.svg' %}">


        {# Por si alguna página requiere expandir el header. #}
        {% block private-head %}
        {% endblock %}

        <title>Tienda de Jaguareté KAA</title>
    </head>

    <body class="d-flex flex-column h-100">
        {# Sección "Encabezado" #}
        <header class="container-fluid">
            <!-- El container fluido de arriba es para que llene el fondo de color, sin
             importar el tamaño, el container de abajo es para mantener margenes decentes
             en pantallas grandes, ya que no quiero que se vaya el contenido a las puntas 
             en esos casos. -->
            <div class="container p-1">
                <!-- Defino una fila para contener claramente logo y controles, y 
                    ya que son 2 elementos, asigno col-6 a ambos para cualquier dimension, 
                    ya que los containers de arriba se encargaran del enmarcado grueso. -->
                <div class="row">
                    <div id="header-branding" class="col-3 col-sm-6 my-auto">
                        <a href="{% url 'tienda:home' %}"><img src="{% static 'images/jag-kaa-logo-sm.svg' %}" alt="Logo de Jaguareté Kaa" class="d-block d-sm-none" height="75px"></a>
                        <a href="{% url 'tienda:home' %}"><img src="{% static 'images/jag-kaa-logo.svg' %}" alt="Logo de Jaguareté Kaa" class="d-none d-sm-block" height="140px"></a>
                    </div>
                    
                    <!-- Text-end para llevar los controles al costado derecho, y
                    separo en dos filas para separar los controles "de usuario" del 
                    boton de "carro", por una cuestión de diseño. -->
                    <div id="header-controls" class="col-9 col-sm-6 pt-2 text-end">
                        <div class="row">
                            <div id="user-controls" class="col-12 col-sm-9 ms-auto">
                                <div class="btn-group">
                                    {# Los controles de usuario dependen de si ya se encuentra alguien logueado. #}
                                    {% if user.is_authenticated %}
                                    <!-- <a href="{% url 'usuarios:ingreso' %}" class="btn btn-sm btn-light">Ingresá</a> -->
                                    <a href="{% url 'tienda:perfil' %}" class="btn btn-sm btn-light">{{ user.username }}</a>
                                    <a href="{% url 'tienda:salir' %}" class="btn btn-sm btn-outline-light">Salir</a>
                                   
                                    {% else %}
                                    
                                    <a href="{% url 'usuarios:ingreso' %}" class="btn btn-sm btn-light">Ingresá</a>
                                    <a href="{% url 'usuarios:registro' %}" class="btn btn-sm btn-outline-light">Registrate</a>

                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Finalmente, el boton de carro, lo mantengo contra la 
                            derecha, y agrego un margen arriba para separarlo de 
                            los controles de usuario. -->
                        <div id="cart-row" class="row">
                            <div class="col-12 mt-sm-2 pt-3">

                                {% comment %}
                                Aca tomo una consideración de diseño. Ya que el usuario moderador tiene como cambios que
                                - no tiene carro
                                - tiene boton de agregar productos.
                                
                                Eligo hacer ese reemplazo acá, y si el usuario es moderador en vez de ver el carro verá
                                el boton de nuevo producto, en lugar de que no haya nada aca arriba y expandir la
                                barra de menu.
                                {% endcomment %}
                                
                                {% if moderador %}
                                
                                <a class="btn boton-accent" href="{% url 'tienda:nuevo' %}">Agregar Producto</a>
                                
                                {% else %}

                                <a href="{% url 'tienda:carro' %}" id="btn-cart" class="btn position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>

                                    {% if carro.listaProductos %}
                                    <span class="cart-num position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                        {% if carro.listaProductos|length < 10 %}
                                            {{ carro.listaProductos|length }}
                                        {% else %}
                                            9+
                                        {% endif%}
                                    </span>
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {# Sección "Menú" con una mezcla de navbar con forms de bootstrap. #}
        <!-- El contenedor del menú sigue la misma filosofía que el encabezado, 
                un container-fluid para pintar toda la banda, y luego un container
                traficional para tener margen en pantallas mayores a sm. -->
        <div id="menu" class="container-fluid py-0 pb-md-0">
            <div class="container-sm">
                <!-- Como consideración de diseño, decidí armar una fila para separar
                    los dos componentes principales, el menú de links y la barra de 
                    busqueda. La lógica detras de esto es que me parece más conveniente
                    poder acceder a la busqueda sin tener que desplegar el menú.
                    Obviamente se agregan clases para controlar los tamaños de estos
                    elementos a lo largo de los breakpoints. -->
                <div class="row g-1">
                    <nav class="navbar navbar-dark navbar-expand-md col-3 col-md-7 col-lg-5">
                        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{% url 'tienda:home' %}">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Categorías
                                    </a>
                                    <ul id="catDropdown" class="dropdown-menu dropdown-menu-dark border-0 container-fluid" aria-labelledby="navbarDropdown">
                                        {% comment %}
                                        Dado que esto se usa en todos los templates, la lista de 
                                        categorias se pasa con un context processor (context_processor.py) en lugar 
                                        de explicitamente en cada llamada a render().
                                        {% endcomment %}
                                        
                                        {% for categoria in catList  %}
                                        <li><a class="dropdown-item" href="{% url 'tienda:categorias' categoria %}">{{categoria}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="nav-item"><a class="nav-link" href="{% url 'tienda:about' %}">Sobre Nosotros</a></li>
                                <li class="nav-item"><a class="nav-link" href="mailto:contacto@jaguaretekaa.com.ar">Contacto</a></li>
                            </ul>
                        </div>
                    </nav>

                    <!-- Como mencioné antes, la barra de busqueda la saco afuera del <nav> 
                        para poder tenerla disponible en cualquier tamaño de pantalla. Agrego
                        ademas un boton de busqueda, en caso de ser necesario, como input-group. -->
                    <div class="col  ms-auto ps-lg-3 pt-2">
                        <form action="{% url 'tienda:busqueda' %}" method="POST">
                            <div id="searchbar" class="input-group  mt-md-2">
                                {% csrf_token %}  <!-- Uso los metodo POST o GET para distinguir entre "busqueda" y "filtro de Categoria". -->
                                <input type="text" class="form-control" name="search-text" required placeholder="¿Qué buscas?" aria-label="Busqueda de productos">
                                <button class="btn bg-light" type="submit" id="btn-search">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkergrey" class="bi bi-zoom-out"
                                        viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
                                        <path
                                            d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# Fuera del menu dejo un espacio para pasar mensajes a todos los sitios. #}
        {% for mensaje in messages %}
        <div class="jag-message alert mb-0 container text-center">
            {{ mensaje }}
        </div>
        {% endfor %}

        {# Sección de Contenido principal del sitio. #}
        <div id="cont-ppal" class="container flex-fill">
            {% block private-body %}
            {% endblock %}
        </div>

        {# Sección "Pie de Página" - Similar al encabezado en estructura #}
        <!-- El contenedor del footer sigue la misma filosofía que el encabezado, 
        un container-fluid para pintar toda la banda, y luego un container
        traficional para tener margen en pantallas mayores a sm. -->
        <footer class="footer mt-auto">
            <div class="container-fluid">
                <div class="container pt-4 pb-3">

                    <!-- Acá para variar quiero que la compañía y el copyright 
                    ocupen 3 filas en pantallas pequeñas, y que se vayan
                    una a cada punta en dispositivos mayores, además que el
                    copyright se separe en dos filas en esos casos. -->
                    <div class="row text-center text-md-start">
                        <div id="footer-branding" class="col-12 col-md-6 my-auto">
                            <h6>JAGUARETÉ KAA S.A.</h6>
                            <div id="social" class="d-flex my-2 justify-content-center justify-content-md-start">
                                <a class="social-link me-3" href="#"><img alt="Twitter" src="{% static 'images/social/twitter.png' %}"></a></li>
                                <a class="social-link me-3" href="#"><img alt="Facebook" src="{% static 'images/social/facebook.png' %}"></a></li>
                                <a class="social-link me-3" href="#"><img alt="Instagram" src="{% static 'images/social/instagram.png' %}"></a></li>
                                <a class="social-link me-3" href="https://gitlab.com/germansc"><img alt="Gitlab" src="{% static 'images/social/gitlab.png' %}"></a></li>
                            </div>
                        </div>

                        <div id="footer-legal" class="col-12  col-md-6 text-md-end">
                            <span class="d-block">Copyright © 2021</span>
                            <span class="d-block">Desarrollado por Germán Scillone</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {# Scripts de Bootstrap. #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>
