{% extends 'tienda/layout_general.html' %}

{% comment %}
Vista del Perfil de usuario.
{% endcomment %}

{% block private-body %}
<div class="container d-flex flex-column align-items-center">
    
    <h1 class="mt-3">
        Hola {{ user.first_name }}!
    </h1>

    <div class="mt-5">
        Acá irían la lista de ordenes, manejo de preferencias y ese tipo de cosas. 
    </div>
</div>

{% endblock %}