{% extends 'tienda/layout_general.html' %}

{% block private-body %}

{% comment %}
Template de producto, la estructura general esta en el documento de referencia.
Pero basicamente a partir de tamaño de pantallla sm parto la pantalla en 2, 
una zona mas pequeña para la imagen y por el otro lado una zona mayor con
la descripcion y controles del producto.
{% endcomment %}

<div id="ProductoMain" class="row">
    <h2 class="nova-dark text-center my-4"> {{ producto.nombre|upper }} </h2>
    <div class="col-12 col-sm-5 mb-5 text-center">
        <img src="{{ producto.imagen.url }}" class="img-fluid" alt="" style="width: 100%;max-width: 400px;">
    </div>
    <div id="ProductColumn" class="col-12 col-sm-7 d-flex flex-column mb-5">
        <hr class="dropdown-divider mt-0">
        <h6>{{ producto.categoria|upper }}</h6>
        <hr class="dropdown-divider mt-0">
        <div class="flex-fill">
            {{ producto.descr|linebreaks }}
        </div>
        <hr class="dropdown-divider mb-2">

        <span class="mx-auto my-2 fs-3 fw-normal">{{producto.precioLocal}}</span>

        {% if producto in carro.listaProductos %}
        <a href="{% url 'tienda:carro' %}" class="btn boton-accent">Ir al Carro</a>
        {% else %}
        <a href="{% url 'tienda:agregarAlCarro' prodId=producto.id next=request.path|urlencode %}" class="btn boton-accent">Agregar al Carro</a>
        {% endif %}
    </div>
</div>

{% endblock %}
