{% extends 'tienda/layout_general.html' %}

{% comment %}
Sitio para redireccionar en caso de errores de base de datos o lo que sea.
{% endcomment %}

{% block private-body %}
<div id="SearchMain" class="container d-flex flex-column align-items-center">
    <h1 class="nova-dark mt-3 mb-4 mb-sm-5">

    {% if frase %}
        Resultados de "{{frase}}"
    {% endif %}

    {% if categoria %}
        {{categoria}}
    {% endif %}
    </h1>

    <div id="productList" class="col-12">
        {% for prod in resultados %}
        <div class="productListItem position-relative">
            <h5>{{ prod.nombre.upper}}<span class="d-none d-sm-inline"> - {{prod.precioLocal}}</span></h1>
                <p class="d-block d-sm-none">{{ prod.precioLocal }}</p>
                <p class="d-none d-sm-block">{{ prod.descripcionCorta }}</p>
                <a href="{% url 'tienda:producto' prod.id %}" class="stretched-link"></a>
                <hr class="dropdown-divider">
        </div>
        {% empty %}
            <h3>No hay resultados para esta búsqueda</h3>
        {% endfor %}
    </div>

</div>
{% endblock %}
