{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Linkeo bootstrap. #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        {# Linkeo a mi hoja de estilo. #}
        <link rel="stylesheet" href="{% static 'styles/jagkaausers.css' %}">

        {# Linkeo a fuente de Google Fonts para Encabezados principales. #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Square">

        {# Favicon, ya que arme un icono pequeño lo agrego acá #}
        <link rel="icon" type="image/svg+xml" href="{% static 'images/jag-kaa-logo-sm.svg' %}">


        {# Por si alguna página requiere expandir el header. #}
        {% block private-head %}
        {% endblock %}
        <title>Usuarios de Jaguareté KAA</title>
    </head>
    <body class="d-flex flex-row align-items-center justify-content-center">
        <main class="container col-sm-8 col-md-6 col-lg-4 col-xl-3 text-center">
            {% block private-body %}
            
            {% endblock %}

            <a class="link-atras d-block mb-2" href="{% url 'tienda:home' %}">Volver al sitio</a>

        </main>
    </body>
</html>