{% extends 'usuarios/layout_user.html' %}
{% load static %}

{% block private-body %}

<img id="loginImg" src="{% static 'images/jag-kaa-logo.svg' %}" alt="">
<h5 class="text-light mb-4">Ingresá</h5>

<form action="{% url 'usuarios:ingreso' %}" method="POST" class="container form-usuarios">
    {% csrf_token %}

    {{ form.username}}

    {{ form.password }}

    {# Si hay errores de logueo, los paso con mensajes. #}
    {% for mensaje in messages %}
        <div class="alert alert-warning mt-3 mb-0">
            {{ mensaje }}
        </div>
    {% endfor %}

    <br>
    <input type="submit" class="btn d-block mt-3 mx-auto" value="Ingresá">
    <input type="hidden" name="next" value="{{ next }}">

    <br>
    <span class="me-3">¿No tenés una cuenta?</span>
    <a href="{% url 'usuarios:registro' %}" class="card-link">Registrate</a>

</form>

{% endblock %}
