{% extends 'usuarios/layout_user.html' %}
{% load static %}

{% block private-body %}

<img id="loginImg" src="{% static 'images/jag-kaa-logo.svg' %}" alt="">
<h5 class="text-light mb-4">Registrate</h5>

<form action="{% url 'usuarios:registro' %}" method="POST" class="container form-usuarios">
    {% csrf_token %}

    {{ form.username}}
    
    {{ form.email }}

    {{ form.first_name }}

    {{ form.last_name }}

    {{ form.password1 }}

    {{ form.password2 }}
    
    {# Si hay errores de registro, los paso con mensajes. #}
    {% for mensaje in messages %}
    <div class="alert alert-warning mt-3 mb-0">
        {{ mensaje }}
    </div>
    {% endfor %}

    <br>
    <input type="submit" class="btn d-block mt-3 mx-auto" value="Nuevo Usuario">
    <br>

    <span class="me-3">¿Ya tenés una cuenta?</span>
    <a href="{% url 'usuarios:ingreso' %}" class="card-link">Ingresá</a>

</form>

{% endblock %}