:root {
    --jag-dark: #333333;
    --jag-accent: #ff6600;
    --jag-light:#e6e6e6;
    --jag-medium:#777777;
}

/* Al body global, simplente le ajusto el color de fondo. */
body {
    background-color:var(--jag-light);
    background-image: url("../images/jag-kaa-tiledbg.png");
    background-size: 85px;
}

/* Clase general para setear font y color ppal. */
.nova-dark {
    font-family: 'Nova Square', sans-serif;
    color: var(--jag-dark);
}

.jag-message {
    color: var(--jag-dark);
    background-color: #ffe0cc;
    border: none;
    border-bottom: solid 3px;
    border-color: var(--jag-light);
}


/* -- ENCABEZADO -- */
header {
    background-color: var(--jag-dark);
}

.cart-num {
    background-color: var(--jag-accent);
    color: var(--jag-dark);
}

/* -- MENU -- */
#menu, #catDropdown {
    background-color: var(--jag-dark);
}

/* Links de la Seccion menú */
#menu a {
    color: var(--jag-light);
}

#menu a:hover {
    color:var(--jag-accent);
}

#menu a:active {
    color:var(--jag-accent);
}

/* Modificadores de Links de Categorias */
#catDropdown a:active {
    color: var(--jag-dark);
    background-color: var(--jag-accent);
}

#btn-cart {
    background-color: var(--jag-dark);
    color: var(--jag-accent);
    border-color: var(--jag-medium);
    border-width: 2px;
    border-style: dashed;
}

#btn-cart:hover {
    background-color: var(--jag-accent);
    color: var(--jag-dark);
    border-color: var(--jag-accent);
    border-style: solid;
}


/* Saco el halo azul que incorpora 
   bootstrap en botones y forms del header. */
#menu .form-control:focus, #searchbar .btn:focus, header .btn:focus  {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


/* -- CONTENIDO PRINCIPAL -- */
#cont-ppal {
    background-color: whitesmoke;
}

/* Tarjetas */
.card, .card-footer {
    background-color: var(--jag-light);
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-footer {
    color: var(--jag-medium);
    text-align: left;
}

.boton-dark {
    background-color: var(--jag-dark);
    color: var(--jag-light);
    border: none;
}

.boton-dark:hover {
    background-color: darkred;
    color: var(--jag-light);
}

.boton-accent {
    background-color: var(--jag-accent);
    color: var(--jag-dark);
}

.boton-accent:hover {
    background-color: #ff8533;
    /* background-color: var(--jag-dark); */
    color: var(--jag-light);
}

/* Lista de productos - Decripcion en Gris. */
.productListItem > p {
    color: var(--jag-medium);
}

.productListItem:hover {
    border: solid var(--jag-accent);
    border-width: 0px 0px 0px 4px;
    padding-left: 8px;
}

/* -- FOOTER -- */
footer {
    background-color: var(--jag-accent);
    color: var(--jag-dark);
}

.social-link:hover {
    background-color: #ff8533;
    border-radius: 8px;
}


/* -- PAGINA DE PRODUCTO -- */
#ProductColumn > h6 {
    color: var(--jag-medium);
}

#ProductColumn > span {
    font-family: 'Nova Square', sans-serif;
    color: var(--jag-dark);
}

/* -- CARRO -- */

.jag-txt-form {
    width: 50%;
    text-align: center;
    color: var(--jag-dark);
}

#CarroControles h5 {
    color: var(--jag-dark);
}

#CarroControles {
    background-color: var(--jag-light);
    border: solid 2px;
    border-radius: 5px;
    border-color: var(--jag-accent);
}

.carro-prod {
    color:var(--jag-dark);
    text-decoration: none;
}

.carro-prod:hover {
    color:var(--jag-accent)    
}

.carro-precio {
    color:var(--jag-medium)
}
